<form class="legal" onsubmit="return false;">
	<div class="container">
			<div class="row">
					<div class="col-md-6">First Name:</div>
					<div class="col-md-6"><input id="txtFirstName" ng-model="customer.firstName"/></div>
			</div>
			<div class="row">
					<div class="col-md-6">Last Name: </div>
					<div class="col-md-6"><input id="txtLastName" ng-model="customer.lastName"/></div>
			</div>
			<div class="row">
					<div class="col-md-6">Phone Number: </div>
					<div class="col-md-6"><input id="txtPhoneNumber" ng-model="customer.phoneNumber"/></div>
			</div>
			<div class="row">
					<div class="col-md-6">Birth Date: </div>
					<div class="col-md-6"><input type="date" name="birthDate"  ng-model="customer.birthDate"></div>
			</div>
			<div class="row">
				<div class="col-md-12"><button id="btnSubmit" class="btn btn-default" ng-click="register();">Register</button></div>
		</div>
	</div>
</form>
{{customer}}
